<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link href="/css/grid.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="/css/reset.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="/css/forms.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="/css/extras.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="/css/admin.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="/css/print.css" media="print" rel="stylesheet" type="text/css">

    <!-- examples styles -->
    <link href="/css/my-screen.css" media="screen, projection" rel="stylesheet" type="text/css">

    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <header>
        <h1><a href="/">Isela Maria</a></h1>
      </header>
      {{ content }}
    </div>
  </body>
</html>